<div class="panel">
    <div class="panel-body">
        <div class="blog-post">
            <h3>最新评价</h3>
            <ul>
                {% for assess in assesses %}
                    <li>
                        <a href="{{ assess.get_absolute_url }}">
                            <i class="  fa fa-comments-o"></i>
                            {{ assess.user.username }} given a comment on {{ assess.post.headline }} at {{ assess.create_date|date:'m-d H:m:s' }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>