{% load i18n %}
{% load staticfiles %}
{% regroup dates by year as dates_by_year %}

<div class="panel">
    <div class="panel-body">
        <div class="blog-post">
            <h3>博客归档</h3>
            <ul>
                {% for month in dates_by_year|slice:":2" %}
                    {% for d in month.list|slice:":5" %}
                        <li><a href="{% language "en" %}{% url 'blog:archive-month' d|date:"Y" d|date:"b" %}{% endlanguage %}"><i class="fa fa-angle-right"></i>{{ d | date:"F Y" }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>