{% extends 'base.html' %}
{% load staticfiles %}
{% load blog %}
{% load custom_markdown %}

{% block title %}
    {{ object.headline | escape }}
{% endblock %}

{% block css %}
{% endblock %}

{% block page-header %}
{% endblock %}

{% block page-body %}
    <div class="row blog">
        <div class="col-md-4">
            {% render_month_links %}
            {% render_category_links %}
            {% render_assess_links %}
        </div>
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <h1 class="text-center mtop35"><a href="#">{{ object.headline }}</a></h1>
                    <p class="text-center auth-row">
                        By <a href="#">{{ object.author }}</a>   |   {{ object.pub_date | date:'Y-m-d H:i:s' }}   | <a href="#">5 Comments</a>
                    </p>
                    <div class="blog-tags">
                        Category :
                        {% for category in object.category.all %}
                            <a href="{{ category.get_absolute_url }}"><span class="label {% random_label_color %}">{{ category }}</span></a>
                        {% endfor %}
                    </div>
                    {{ object.content | custom_markdown }}
                </div>
            </div>
            {% include 'blog/post_comment.html' with comments=object.post_comment.all %}
            {% include 'blog/post_new_comment.html' with post_id=object.id %}
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}