{% load pagination_tags %}
{% load custom_markdown %}
{% load blog %}

<div class="col-md-8">
    {% autopaginate object_list 10 %}
    {% for post in object_list %}
        <div class="panel">
            <div class="panel-body">
                <h1 class="mtop35"><a href="{{ post.get_absolute_url }}">{{ post.headline }}</a></h1>
                <p class="auth-row">
                    By <a href="#">{{ post.author }}</a>   |   {{ post.pub_date | date:'Y-m-d H:m:s' }}
                </p>
                <p class="category-row">
                    {% for category in post.category.all %}
                        <a href="{{ category.get_absolute_url }}"><span class="label {% random_label_color %}">{{ category }}</span></a>
                    {% endfor %}
                </p>
                <p class="">{{ post.content | custom_markdown | truncatewords_html:25 }}
                </p>
                <a href="{{ post.get_absolute_url }}" class="more mbot20">Continue Reading</a>
            </div>
        </div>
    {% endfor %}

    <div class="text-center">
        {% paginate %}
    </div>
</div>