<ul class="nav nav-pills nav-stacked custom-nav">
    <li><a href=""><i class="fa fa-user"></i> <span>我</span></a></li>
    <li class="active"><a href=""><i class="fa fa-file-text"></i> <span>博客</span></a></li>
    <li><a href=""><i class="fa fa-book"></i> <span>Wiki</span></a></li>
    <li><a href=""><i class="fa fa-glass"></i> <span>生活</span></a></li>
    <li><a href=""><i class="fa fa-globe"></i> <span>英语</span></a></li>
    <li><a href=""><i class="fa fa-calendar"></i> <span>计划</span></a></li>
</ul>